<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dirF1B51B0F0204B6EC0C0F76B6642CAA4A" Name="win-x86" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LauncherComponents">
            <Component Id="cmp259D21E1F4BD0FB594FB1DBCE3CCCED6" Directory="dirF1B51B0F0204B6EC0C0F76B6642CAA4A" Guid="*">
                <File Id="filBBD3964B51805F6A75D68310D6764CF1" KeyPath="yes" Source="SourceDir\appSettings.json" />
            </Component>
            <Component Id="cmp6E99DB855A167B727F08899161CDE0D8" Directory="dirF1B51B0F0204B6EC0C0F76B6642CAA4A" Guid="*">
                <File Id="fil99ED77AF58BE4138B209637B5A2C2976" KeyPath="yes" Source="SourceDir\D3DCompiler_47_cor3.dll" />
            </Component>
            <Component Id="cmp2A0E34EA467D439F1AD2BFD1148F0085" Directory="dirF1B51B0F0204B6EC0C0F76B6642CAA4A" Guid="*">
                <File Id="fil3480DBE5C6ABC8B7988112B00B3ACB46" KeyPath="yes" Source="SourceDir\e_sqlite3.dll" />
            </Component>
            <Component Id="cmpA10CDC912E56B71BAB8EA14B95962D5A" Directory="dirF1B51B0F0204B6EC0C0F76B6642CAA4A" Guid="*">
                <File Id="filD4DAAA696BC0E684E26F3405DCF658E1" KeyPath="yes" Source="SourceDir\Metis Mod Launcher.exe" />
            </Component>
            <Component Id="cmpF7AC1C91EFA77576199FE33F859F2726" Directory="dirF1B51B0F0204B6EC0C0F76B6642CAA4A" Guid="*">
                <File Id="filF6F39F9D61E60360EB824045656EC6A9" KeyPath="yes" Source="SourceDir\Metis Mod Launcher.pdb" />
            </Component>
            <Component Id="cmpE6366396F75C89B9D37A9A6FB3420E79" Directory="dirF1B51B0F0204B6EC0C0F76B6642CAA4A" Guid="*">
                <File Id="fil11AF722E2637677E8AE1B8FBF5274E01" KeyPath="yes" Source="SourceDir\ModEngine2ConfigTool.db" />
            </Component>
            <Component Id="cmp06600451F27524A113F7C50301EA7FF4" Directory="dirF1B51B0F0204B6EC0C0F76B6642CAA4A" Guid="*">
                <File Id="fil20C7E64525337FFEAC2DB4BFC320CA37" KeyPath="yes" Source="SourceDir\PenImc_cor3.dll" />
            </Component>
            <Component Id="cmp9FB4DDDE2651644931EC0192F3525DA8" Directory="dirF1B51B0F0204B6EC0C0F76B6642CAA4A" Guid="*">
                <File Id="fil5E2138E88ACE86CC62877A720C27613F" KeyPath="yes" Source="SourceDir\PresentationNative_cor3.dll" />
            </Component>
            <Component Id="cmp8E2E61EA2E5F4A87C53542A1E9A68182" Directory="dirF1B51B0F0204B6EC0C0F76B6642CAA4A" Guid="*">
                <File Id="fil85C86DD5FAB0310ACC7F458AB36A8A3C" KeyPath="yes" Source="SourceDir\vcruntime140_cor3.dll" />
            </Component>
            <Component Id="cmp23365ADFBE558E4DEE123923F28EAE49" Directory="dirF1B51B0F0204B6EC0C0F76B6642CAA4A" Guid="*">
                <File Id="fil451E6562B9867DDE8BEE7934F8CBAC50" KeyPath="yes" Source="SourceDir\wpfgfx_cor3.dll" />
            </Component>
            <Component Id="cmp0E3C17AE954B3DB2C3DDAB336B840676" Directory="dir8F05A6BCBDD6E752A8DC2C87F2664C02" Guid="*">
                <File Id="filA47C0D129975DDE6DB02A3A0CF9807B4" KeyPath="yes" Source="SourceDir\Profiles\SampleProfile.toml" />
            </Component>
            <Component Id="cmp3936087B41B02BD8883C37FF5274418A" Directory="dir200E980045D89165D854821C6B2F3405" Guid="*">
                <File Id="filD63DD71C65F416243268C5000BDEBA6D" KeyPath="yes" Source="SourceDir\Resources\Blue.png" />
            </Component>
            <Component Id="cmp3B296D7460B680B54695FF3E1E6B6E54" Directory="dir200E980045D89165D854821C6B2F3405" Guid="*">
                <File Id="filD4C68543E699488B19C244183064B14C" KeyPath="yes" Source="SourceDir\Resources\EldenRing256.png" />
            </Component>
            <Component Id="cmpD59AB67DD8F0EEFC881F3593C2B3A080" Directory="dir200E980045D89165D854821C6B2F3405" Guid="*">
                <File Id="filA14BEF7D38C045D511EEAD7BEF51B44A" KeyPath="yes" Source="SourceDir\Resources\Green.png" />
            </Component>
            <Component Id="cmp3A691F3F2251FAD8DC8D5C3A91D21A3B" Directory="dir200E980045D89165D854821C6B2F3405" Guid="*">
                <File Id="fil88A806613F5CEB4CB4C4745A0D31C32B" KeyPath="yes" Source="SourceDir\Resources\Orange.png" />
            </Component>
            <Component Id="cmpB677C6878E7A4B8B243615ED13C6CBFB" Directory="dir200E980045D89165D854821C6B2F3405" Guid="*">
                <File Id="filC57A469050FAAAA227A7F3DBC5B1E028" KeyPath="yes" Source="SourceDir\Resources\Purple.png" />
            </Component>
            <Component Id="cmpF9D034D8C3280C7431E9261FB6A91AEF" Directory="dir200E980045D89165D854821C6B2F3405" Guid="*">
                <File Id="fil6AC78BA013DC815E4D75607D3CC9708A" KeyPath="yes" Source="SourceDir\Resources\Red.png" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF1B51B0F0204B6EC0C0F76B6642CAA4A">
            <Directory Id="dir200E980045D89165D854821C6B2F3405" Name="Resources" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF1B51B0F0204B6EC0C0F76B6642CAA4A">
            <Directory Id="dir8F05A6BCBDD6E752A8DC2C87F2664C02" Name="Profiles" />
        </DirectoryRef>
    </Fragment>
</Wix>